<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
    <script src="/scripts/vote_communication.js" type="text/javascript"></script>
    
</head>

<body>

	<!-- The main object loaded is referenced by "forum" -->

    <% include partials/header %>
	
	<div class="body-container">
		<div class="content-container center-div">	
			<div class="alignment-container">
				<div class="make-flex flex-horiz" id="question-container">
				
					<div class="make-flex flex-vert" id="question-votes">
						<p class="qup upvote vote" id=<%= ( typeof logged !== "undefined" && logged) ? "q-upvote-"+String(forum.q_id) + "-" + String(user_id) : "q-upvote-null"  %>> &#10004; </p>
						<p class="qdown downvote vote" id=<%= ( typeof logged !== "undefined" && logged) ? "q-upvote-"+String(forum.q_id) + "-" + String(user_id) : "q-downvote-null"  %>> &#10006; </p>
						<p class="vote" id="q-votevalue"> <%= forum.question_pts %> </p>
					</div>
					
					<div class="make-flex flex-vert" id="question">
						<h2 id="question-title">
							<%= forum.title %>
						</h2>
						
						<p id="question-body">
							<%= forum.body %>
						</p>
						
						<div id="user-asked-div">
							<p id="user-asked-info">
								<%= forum.user_asked %> | <%= forum.question_pts %> | <%= forum.datetime_asked %>
							</p>
						</div>
					</div>
				</div>
				
				<p class="post-entry-sep"> </p>
				
				<% for (var ans_idx = 0; ans_idx<forum.answers.length; ans_idx++) { %>
						
						<% var answers = forum.answers %>
				<div class="make-flex flex-horiz answer-container">
				
					<div class="make-flex flex-vert answer-votes">
						<p class="ans-upvote vote upvote" id=<%= ( typeof logged !== "undefined" && logged) ? "ans-upvote-"+String(answers[ans_idx].answer_id) + "-" + String(user_id) : "ans-upvote-null-" + String(answers[ans_idx].answer_id)  %>> &#10004; </p>
						<p class="ans-downvote vote downvote" id=<%= ( typeof logged !== "undefined" && logged) ? "ans-downvote-"+String(answers[ans_idx].answer_id) + "-" + String(user_id) : "ans-downvote-null-" + String(answers[ans_idx].answer_id)  %>> &#10006; </p>
						<p class="vote vote-value" id=<%= ( typeof logged !== "undefined" && logged) ? "ans-count-"+String(answers[ans_idx].answer_id) : "ans-count-null-" + String(answers[ans_idx].answer_id) %>> <%= answers[ans_idx].answer_pts %> </p>
					</div>
					
					<div class="make-flex flex-vert answer">
						<div class="user-answer-div">
							<p class="user-answer-info">
								<%= answers[ans_idx].user_answered %> | <%= answers[ans_idx].answer_pts %> | <%= answers[ans_idx].datetime_answered %> 
							</p>
						</div>
						
						<p class="answer-body">
							<%= answers[ans_idx].answer %>
						</p>
						
						
					</div>
				</div>
				
				<p class="post-entry-sep"> </p>

				
				
				<% } %>
						
					
				<% if (typeof logged !== "undefined" && logged == true) { %>
				<div id="submit-answer-div">
					<form class="make-flex flex-vert" action=<%= "/question_forum/answer_to/" + String(forum.q_id) + "/" + String(user_id) %> method="post" id="answer-form">
						<textarea name="answer_body" class="text-input" id="answer-textarea" form="answer-form" required="required" placeholder="Enter your answer: " maxlength=1000></textarea>
						<input id="submit-button" class="button self-right" type="submit" value="Answer!">
					</form>
				</div>
				<% } else {%>
				
					<% include partials/notlogged %>
				
				<% } %>
				
			</div>
		</div>
	</div>
	
	<% include partials/footer %>
  </body>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    
    <script src="script.js"></script>
    
    
    </html>