<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
    
</head>

<body>
    
    <!-- Loading views/partials/header.ejs -->
    <% include partials/header %>
    
    
    <!-- =================================== BODY CONTENT: QUESTION LIST =================================== -->
    
    <div class="body-container">
        <div class="content-container center-div">
                
                <!-- ////////////////////////////// Popular ////////////////////////////// -->
                
                <div class="questions-all">
				
				
				
					<div class="card-header make-flex flex-horiz">
						<form class="tab first-tab">
							<a href="?tab=newest" class="nav-link active tab-link" onclick="openTab(event, 'Newest')"> Newest</a>
						</form >
						
						<form class="tab">
							<a href="?tab=popular" class="nav-link active tab-link" onclick="openTab(event, 'Popular')"> Popular </a>
						</form>
							
							
							<!--
								<li class="nav-item">
									<button class="nav-link tab-link" onclick="openTab(event, 'Featured')">Featured</button>
								</li>
							-->
					</div>
				
                    <div class="card-body" id="Popular">
                        <h5 class="card-title">Popular Questions</h5>
                        <% for (var popular_q_list = 0; popular_q_list<homepage.popular.popular_question_list.length; popular_q_list++) { %>
                            <% var questions = homepage.popular.popular_question_list %>
                            <div class="q-container make-flex flex-horiz center-div">
								
								<div class="q-left-bar">
								
								</div>
								<div class="q-right make-flex flex-horiz">
									
									<div class="sub-score">
									
										<span class="vote-span">&#9733 <span class="span-val"><%= questions[popular_q_list].numOfVotes %> </span></span>
										
										<span class="ans-span">&#9887 <span class="span-val"><%= questions[popular_q_list].numOfAnswers %></span></span>
										<br>
										<a class="user-a" href="#"> <%= questions[popular_q_list].userName %> </a>
										<br>
										<span class="date-span">  <%= questions[popular_q_list].date_ans.split(" - ")[0] %> </span>
									</div>
								
								
									<a class="q-title q-link" href=<%= "/question_forum/" + String(questions[popular_q_list].questionID) %> >  <%= questions[popular_q_list].questionTitle %> </a>
								
								</div>
							
                            </div>
                            <% } %>
                        </div>
                    </div>                  
                </div>
            </div>
		
<% include partials/footer %>

</body>

<script src="script.js"></script>


</html>