<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
    
    
</head>

<body>
    
    <!-- Loading views/partials/header.ejs -->
    <% include partials/header %>
    
    
    <!-- =================================== BODY CONTENT: QUESTION LIST =================================== -->
    
    <div class="body-container">
        <div class="content-container center-div">
            
                <!-- ////////////////////////////// Newest ////////////////////////////// -->
                
                <div class="questions-all">
					<div class="card-header make-flex flex-horiz">
						<form class="tab first-tab">
							<a href="?tab=newest" class="nav-link active tab-link" onclick="openTab(event, 'Newest')"> Newest</a>
						</form >
						
						<form class="tab">
							<a href="?tab=popular" class="nav-link active tab-link" onclick="openTab(event, 'Popular')"> Popular </a>
						</form>
							
							
							<!--
								<li class="nav-item">
									<button class="nav-link tab-link" onclick="openTab(event, 'Featured')">Featured</button>
								</li>
							-->
					</div>
				
                    <div class="card-body" id="Newest">
                        <h5 class="card-title">Newest Questions</h5>
                        <% for (var newest_q_list = 0; newest_q_list<homepage.newest.newest_question_list.length; newest_q_list++) { %>
                            <% var questions = homepage.newest.newest_question_list %>
                            <div class="q-container make-flex flex-horiz center-div">
								
								<div class="q-left-bar">
								
								</div>
								
								<div class="q-right make-flex flex-horiz">
									
									<div class="sub-score">
									
										<span class="vote-span">&#9733 <span class="span-val"><%= questions[newest_q_list].numOfVotes %></span></span>
										
										<span class="ans-span">&#9887 <span class="span-val"><%= questions[newest_q_list].numOfAnswers %></span></span>
										<br>
										<a class="user-a" href=<%= "/user_profile/" + String(questions[newest_q_list].userID) %>> <%= questions[newest_q_list].userName %> </a>
                       
										<br>
										<span class="date-span">  <%= questions[newest_q_list].date_ans.split(" - ")[0] %> </span>
									</div>
									
									
										<a class="q-title q-link" href=<%= "/question_forum/" + String(questions[newest_q_list].questionID) %>> <%= questions[newest_q_list].questionTitle %> </a>
									
									
								
								
								</div>
					
                                <div class="">
                                
                                    <div class="">
                                        
                                    
									</div>
								
								</div>
							</div>
                        
                            <% } %>
                        
                        
                        
                        
                        <!-- ////////////////////////////// Featured ////////////////////////////// -->
                        
                        <!--
                            <div class="card-body" id="Featured">
                                <h5 class="card-title">Featured Questions</h5>
                                
                            </div>
                        -->
                        
                        
					</div>
				</div>
            </div>
        </div>
        
        
    </div>
    
    <% include partials/footer %>
    
</body>

<script src="script.js"></script>


</html>