<!DOCTYPE html>
<html>
<head>
	<title>User Profile</title>
	<link rel="stylesheet" type="text/css" href="global.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body> 
	<% include partials/header %>
	
	<div class="body-container">
		<div class="content-container center-div">
			<div class="alignment-container">
				
				<div id="user-area-div" class="make-flex flex-row flex-left">
					<div class="user-div" id="user-profile-div">
                        
						<% var userProfile = userprofile.user_profile_info %>
                        
                        <% if(userProfile.user_gender == "M") { %>
                            <div class="image center-div" id="male_profile"></div>      
                            <% } else if(userProfile.user_gender == "F") { %>
                                <div class="image center-div" id="female_profile"></div>        
                                <% } else if(userProfile.user_gender == "O") { %>
                                    <div class="image center-div" id="other_profile"></div>     
                                    <% } %>
                                    
                                    <div class="self-top" id="user-profile-metrics">
                                        
                                        <p class="align-center" id="username">
                                            <%= userProfile.userName %>
                                        </p>
                                        <p class="align-center" id="fullname">
                                            <%= userProfile.user_firstName %> <%= userProfile.user_lastName %>
                                        </p>
                                        <p class="align-center" id="date-of-birth">
                                            <%= userProfile.user_birthDate %>
                                        </p>
                                        <p class="align-center" id="country">
                                            <%= userProfile.user_country %>
                                        </p>
                                        <p class="align-center" id="questions-asked">
                                            Asked <%= userprofile.user_activity.numberOfQuestions %> Question(s)
                                        </p>
                                        <p class="align-center" id="questions-answered">
                                            Answered <%= userprofile.user_activity.numberOfAnswers %> Question(s)
                                        </p>
                                        <!-- <p class="align-center" id="redirect-questions">
                                            <a href="/user_profile">View Your Questions</a>
                                        </p>
                                        <p class="align-center" id="redirect-answers">
                                            <a href="/user_profile">View Your Answers</a>
                                        </p> -->
                                        
                                    </div>
                                    
                                    
                                </div>
                                
                                <div class="user-div" id="user-stats-div">
                                    <div class="center-div" id="view-title">
                                        <!-- <div class="container">
                                            <ul class="nav nav-tabs">
                                                <li><a data-toggle="tab" href="?tab=questions">Your Questions</a></li>
                                                <li><a data-toggle="tab" href="?tab=answers">Your Answers</a></li>
                                            </ul>
                                        </div> -->
                                        <div class="card-header">
                                            <ul class="nav nav-tabs card-header-tabs questions-tab">
                                                <form>
                                                    <li class="nav-item">
                                                        <a href="?tab=questions" class="nav-link active tab-link"> Questions </a>
                                                    </li>
                                                </form>
                                                <form>
                                                    <li class="nav-item">
                                                        <a href="?tab=answers" class="nav-link active tab-link"> Answers </a>
                                                    </li>
                                                </form>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="make-flex flex-vert" id="view-results">
                                        <div class="tab-content">		                              
                                            <% for (var user_ans_list = 0; user_ans_list<userprofile.user_answers.user_answer_list.length; user_ans_list++) { %>
                                                <% var answer = userprofile.user_answers.user_answer_list %>
                                                <div class="make-flex flex-vert  view-result">
                                                    <p class="view-result-p">
                                                        From question: <a href="/question_forum/<%= answer[user_ans_list].questionID %>"> <%= answer[user_ans_list].questionTitle %> </a>
                                                        
                                                        <blockquote><a href="/question_forum/<%= answer[user_ans_list].questionID %>">
                                                            <%= answer[user_ans_list].answerBody %>
                                                        </a></blockquote>
                                                        
                                                    </p>
                                                    <p class="self-right date-result-p">
                                                        <%= answer[user_ans_list].date_ans %>
                                                        
                                                        <% if (typeof logged !== "undefined" && logged == true && user_id === userProfile.userID) { %>
                                                            <form method="get" action= <%= "/user_profile/delete_answer/" + String(answer[user_ans_list].answerID) %>>
                                                                <button type="submit"><i></i>Delete</button>
                                                            </form>                                                          
                                                            <% } %>
                                                        </p>
                                                    </div>
                                                    <% } %>	
                                                    
                                                    
                                                    
                                                </div>
                                            </div>	
                                        </div>	
                                    </div>
                                </div>
                            </div>
                            
                            <% include partials/footer %>
                        </body>
                        </html>
                        
                        